*,
html {
    margin: 0;
    padding: 0;
}

.container {
}

.Navbar-container {
    background-color: #333;
    width: 100%;
    height: 10vh;
}

.ul-Navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-Navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 30px;
}

li-Navbar:hover {
    background-color: #9999;
    transition: 0.5s ease-in-out;
    transition-delay: 0.3s;
    border-radius: 8px;
}

.a-navbar {
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.Content-container {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 30px;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.img-content {
    width: 50%;
    height: 50%;
}

.Footer-container {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 40px;
}
